/***********************************************************
Personally condensed Meyerweb CSS Reset originally found at:
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*****************************/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, article, aside, figure, figcaption, footer, header, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
/**************************
End Modified Meyerweb Reset
**************************/


body{
    font-size: 15.6px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    /* justify-content: center;
    /* These two rules make the floatFrame sit in the middle of the page for @media later. */
    /* align-items: center; */

    background-image:  url(../images/site/background.jpg) /* Whatever I want what's behind the floatFrame to be */;
    display: flex;
    justify-content: center;
}

#floatFrame{
    margin: 0 3.5% 7% 3.5%;
    
    background-color: #ffffff; /* Color of the content area */
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/****************************************************************************************************/
                                            /* HEADER */
/****************************************************************************************************/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo{
    height: 10vw;
    max-height: 90px;
    margin-left: 1%;
}

#headerAccount{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 5vw;
    height: 4vw;
    max-height: 35px;
}
#headerAccount:link, #headerAccount:visited{
    text-decoration: none;
    color: black;
}
#headerAccount:hover{
    color: white;
    background-color: black;
}

    #headerAccount p {
        align-self: center;
        padding-left: 1.5vw;
        padding-right: 0.5vw;
        font-size: 0.8em;
    }

    #myAccountImg{
        margin-left: 0.5vw;
        height: 3vw;
        max-height: 30px;
    }


nav{
    width: 100%;
}
nav a:link, nav a:visited{
    text-decoration: none;
    color: initial;
}

#nav_ul{
    display: flex;
    justify-content: flex-start;
    background-color: #de2226;
    height: 10vw;
    max-height: 96px;
}
.nav_li:hover{
    background-color: #ffffff;
}

#homeNav #homeNavItem{
    background-color: #ffffff;
}

#currentNavItem {
    background-color: #ffffff;
}

.nav_li{ /* Applies to all li's in the header */
    margin: 2vw .5vw 0 .5vw;
    padding: 1vw .5vw 0 .5vw;
    flex-basis: 10%;
    font-size: 3vw;
}

/****************************************************************************************************/
                                        /* MAIN CONTENT */
/****************************************************************************************************/

/*****************
Home
*****************/

.indexMain{

}

h1{
    font-size: 2.02em;
    margin-left: 1vw;
    margin-bottom: .8rem;
}

/************************ Hero **************************/

#rocket{
    position: relative;
}

#rocketImg{
    width: 100%;
}

#rocket ul{
    /* padding-bottom: 10vw; */
    font-size: 0.75em;
    color: #990033;
    background-color: rgba(255, 255, 255, .5);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2% 1% 0 1%;
    width: 50%;
}

#rocket li{
    padding: 1% 0;
}
#rocket h2{
    font-size: 1.4em;
}

#rocket ul img{
    width: 100%;
}

/************************ Reviews ****************************/

#reviews ul {
    list-style: disc;
    margin: 16px 0px;
    padding-left: 40px;
}

/************************* Recipes ***************************/

#recipes ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#recipes li{
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
    text-align: center;
}

#recipes li img{
    width: 40%;
    padding: 0 29% 5% 29%;
    background-color: lightgray;
}

#recipes li a{
    padding: 5px 0px;
}

/*****************
Login & Registration
*****************/
#loginMain, #registrationMain{
    display: flex;
    flex-flow: column;
}

#createAccount{
    background-color:#de2226;
    padding: 3vw;
    margin: 0.5vw 1vw 1vw 1vw;
    text-align: center;
}
#loginMain h2{
    font-size: 1.5em;
    margin: 0 0 0 1vw;
}

form{
    display: flex;
    flex-direction: column;
    margin: 2vw;
    
}

form label, form label{
    font-size: 1.5em;
}
    form input:not([type="submit"]){
        margin-bottom: 1vw;
        font-size: 1.25em;
        width: 50vw; /* Large @m changes to 33vw */
    }
    form [type="submit"]
   ,#createAccount{
        font-size: 1.8em;
        background-color:#de2226;
        color: #ffffff;
        width: 33vw;
        min-width: 125px;
    }
    form p{
        font-style: italic;
    }

/*****************
Registration
*****************/
#registrationMain{
    
}

/*****************
Product Management
*****************/

#pMList li{
    margin: 2vw 0vw;
    padding-left: 4vw;
}

#pMMain p{
    margin-top: 2vw;
}

.message{
    margin: .5em 0 0 2vw;
    color: #de2226;
    font-size: 2em;
}

/*********
Admin Page
*********/
#adminUserData, #adminActions{
    margin: 1em;
}

#adminModify{
    margin: 1em 0 .25em 0;
}


/***************************
Random Garbage Table Styling I shamelessly lifted off w3schools and tweaked
***************************/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 2% 5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead {
    background-color: #de2226;
}

td:not(:first-child) {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/************
Category Page
************/


#prod-display{
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 align-content: center;
}
#prod-display li{
 margin-bottom: .5em;
 border: 1px #ccc solid;
 list-style-type: none;
 flex: 1 1 auto;
}
#prod-display li img{
 width: 100%;
 height: 200px;
}

/******************
Product Detail Page
******************/
/* sp = specific product*/
#spPage{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto 2em 1fr;
    grid-template-areas:
        ". message message ."
        ". image image ."
        "name name name name"
        "vendor vendor price price"
        ". . price price"
        "style style stock stock"
        "style style location location"
        "w_s w_s . ."
        ". . . ."
        "description description description description";
    justify-content: center;
    
    margin: 0 2.5% 2em 2.5%;
    
}
/***************/
#spPage .message{
    grid-area: message;
}

#spImage{
    grid-area: image;
    width: 100%;
    margin: 2em 0 1em 0;
}

.spStats:not(#spName){
    display: flex;
    align-items: flex-end;
}
/**/#spName{
/**/    grid-area: name;
        margin: 0;
        padding: 0.2em;
        padding-left: 0;
        
        background-color: lightgrey;
/**/}
/**/#spVendor{
/**/    grid-area: vendor;
        font-style: italic;
/**/}
/**/.spAvailability{
        text-align: right;
/**/}
/**//**/#spPrice{
/**//**/    grid-area: price;
            font-size: 1.7em;
            color: #de2226;
            font-weight: bold;
/**//**/}
/**//**/#spStock{
/**//**/    grid-area: stock;
            color: green;
            font-size: 1.3em;
            margin-bottom: 0.2em;
/**//**/}
/**//**/#spLocation{
/**//**/    grid-area: location;
            font-style: italic;
/**//**/}
/**/
/**/#spStyle{
/**/    grid-area: style;
        display: flex;
        align-items: flex-end;
        font-size: 1.5em;
        margin-bottom: 0.2em;
        
/**/}
/**/#spStyle span{
        padding-left: 5%;
/**/    font-size: 1rem;
/**/}
/**/#spWeight{
/**/    grid-area: w_s;
        font-size: 0.9em;
        margin-left: 1em;
        font-style: italic;
/**/}
/****/#spSize{
/****/    grid-area: w_s;
          padding-left: 5%;
/****/}

.spExtended{
    
}
/**/#spDescription{
/**/    grid-area: description;
        padding: 1em;
        background-color: lightgray;
/**/}






/****************************************************************************************************/
                                            /* FOOTER */
/****************************************************************************************************/
footer{
    font-size: 2.6vw;
    text-align: center;
}
#footerList{
    background-color: rgba(0, 0, 0, 0.35);
    padding: 10px 0 10px 0; /* Gives the top and bottom some space */
    display: flex; /* So I can edit the positioning more easily. */
    flex-flow: column;
    
}
/****************************************************************************************************/
                                        /* MEDIA QUERIES*/
/****************************************************************************************************/
@media (min-width: 41.67em) {
    #rocket li{
        font-size: 150%;
    }
    h1{
        font-size: 275%;
    }
    footer{
        font-size: 1em;
    }
    #headerAccount p {
        font-size: 1em;
    }
    #recipes li a{
        padding: 10px 0px;
    }
    #prod-display{
        flex-flow: row wrap;
        justify-content: center;
    }
    #prod-display li{
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        max-height: 400px;
    }
    /******************
    Product Detail Page
    ******************/
    /* sp = specific product*/
    #spPage{
        grid-template-columns: 1fr 6fr 1fr 1fr 3fr 3fr 1fr;
        grid-template-rows: auto auto auto auto auto auto 2em 1fr;
        grid-template-areas:
            ". image  . name name name name"
            ". image  . vendor vendor price price"
            ". image  . . . price price"
            ". image  . style style stock stock"
            ". image  . style style location location"
            ". image  . w_s w_s . ."
            ". message . . . . ."
            "description description description description description description description";
    }

    /**/.spAvailability{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    /**/}
    /**//**/#spPrice, #spLocation, #spWeight, #spVendor{
    /**//**/    align-self: flex-start;
    /**//**/}
}
@media (min-width: 60em){
    /* Whatever attributes for desktop size */
    #floatFrame{
        max-width: 877px;
    }
    .nav_li{
        font-size: 28.77px;
        margin: 21.5px 5.3px 0 5.3px;
        padding: 10.7px 5.3px 0 5.3px;
    }
    #rocket ul{
        background-color: rgba(255, 255, 255, 0);
    }
    form input:not([type="submit"])
   ,form input:not([type="submit"]){
        width: 33vw; /* Large @m changes to 33vw */
    }
    
}
