/***********************************************************
Personally condensed Meyerweb CSS Reset originally found at:
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*****************************/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, article, aside, figure, figcaption, footer, header, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
/**************************
End Modified Meyerweb Reset
**************************/


body{
    font-size: 15.6px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    /* justify-content: center;
    /* These two rules make the floatFrame sit in the middle of the page for @media later. */
    /* align-items: center; */

    background-image:  url(../images/site/background.jpg) /* Whatever I want what's behind the floatFrame to be */;
    display: flex;
    justify-content: center;
}

#floatFrame{
    margin: 0 3.5% 7% 3.5%;
    
    background-color: #ffffff; /* Color of the content area */
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}








#spPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2.5vmin;
    grid-template-areas:
        "image image"
        "thumbs thumbs"
        "name name"
        "stats availability"
        "stats availability"
        "stats . "
        "message message"
        "extended extended";
    
    
    margin: 2vmin;
}
/***********************************Image**************************************/
#spImage{
    grid-area: image;
    max-width: 100%;
    justify-self: center;
}

#spThumbs{
    grid-area:thumbs;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
}
#spThumbs img{
    max-width: 15vmin;
    max-height: 15vmin;
}

#spName{
    grid-area: name;
    font-size: 2em;
    background-color: lightgrey;
    padding: 1vmin 1vmin 1vmin 0.5vmin;
}
/***********************************Stats**************************************/
#spStats{
    grid-area: stats;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/**/#spVendor{
        font-style: italic;
        margin-bottom: 4vmin;
/**/}

/**/#spStyle{
/**/    font-size: 1.5em;
/**/}
/****/#spStyle span{
        padding-left: 2vmin;
/****/    font-size: 1rem;
/****/}

/**/#spWeight{
/**/    font-size: 0.9em;
        margin-left: 1em;
        font-style: italic;
/**/}
/****/#spSize{
/****/    padding-left: 5%;
/****/}
/********************************Availability**********************************/
#spAvailability{
    grid-area: availability;
    display:flex;
    flex-direction: column;
    align-items: cross-start;
    
    text-align: right;
    margin: 6vmin 0 6vmin 0;
}
#spPrice{
    font-size: 1.7em;
    color: #de2226;
    font-weight: bold;
}
#spStock{
    color: green;
    font-size: 1.3em;
}
#spLocation{
    font-style: italic;
}

/************************************Message***********************************/
#spMessage{
    grid-area: message;
    min-height: 3vmin;
    text-align: center;
    
    margin: 2vmin 0 0 0;
    border-top: solid lightgrey;
    border-bottom: solid lightgrey;
    padding: 2vmin 0 2vmin 0;
}

/***********************************Extended***********************************/
#spExtended{
    grid-area: extended;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 2vmin 0 0 0;
}
/**/#spDescription{
/**/    padding: 1em;
        background-color: lightgray;
/**/}

/**/#spReviewSection{
/**/    margin: 2vmin 0 0 0;
        padding: 1em;
        background-color: khaki;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
/**/}
#spReviewSection > h2{
    font-size: 1.8em;
}
#spReviewSection > sub{
    font-size: 1.05em;
}

#spReviews{
    border-top: 3px black solid;
    margin-top: 2vmin;
}

/*The form*/
#reviewForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.spReview{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin-top: 5vmin;
}
.spReview .author{
    flex-grow: 0;
    margin-right: 1em;
    font-size: 1.25em;
}
.spReview .timestamp{
    flex-grow: 0;
    font-size: .75em;
    font-style: italic;
    
    align-self: flex-end;
}
.spReview .comment{
    flex-grow: 1;
    padding: 1.5vmin;
    background-color: white;
    flex-basis: 100%;
}


/****************************************************************************************************/
                                            /* FOOTER */
/****************************************************************************************************/
footer{
    font-size: 2.6vw;
    text-align: center;
}
#footerList{
    background-color: rgba(0, 0, 0, 0.35);
    padding: 10px 0 10px 0; /* Gives the top and bottom some space */
    display: flex; /* So I can edit the positioning more easily. */
    flex-flow: column;
    
}
/****************************************************************************************************/
                                        /* MEDIA QUERIES*/
/****************************************************************************************************/
@media (min-width: 41.67em) {
    
    #spPage{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 2.5vmin;
        grid-template-areas:
            "image name name"
            "image stats availability"
            "image . availability"
            "thumbs . ."
            "message message message"
            "extended extended extended";
        margin: 2vmin;
    }
    
    #spImage{
        grid-area: image;
        max-width: 100%;
    }
    #spThumbs img{
        max-width: 10vmin;
        max-height: 10vmin;
    }
    
    
    
    
    
    
    
    
    
    
    
}
@media (min-width: 60em){
    /* Whatever attributes for desktop size */
    
}
